In [1]:
# This notebook contains code to predict the type of music a person will like based on age and sex of the person
# Author Obamrevwo Ejiro Edwin

In [18]:
import pandas as pd
music_data = pd.read_csv('music.csv')

In [19]:
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [20]:
# I Split the dataset into input and output sets.
# The age and gender make up the input set while the genre makes up the output set. 
# The output set contains predictions that have already been made. Let input set be X and output set Y
X = music_data.drop(columns = ['genre'])

In [21]:
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [22]:
Y = music_data['genre']

In [23]:
Y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [24]:
# I first build a model and train the model
#The algorithm i will be using is decision tree, this algorithm comes with scikit learn
# I used it by importing the algotithm from scikit learn and create an instance of the class

from sklearn.tree import DecisionTreeClassifier
#instance of the class DecisionTreeClassifier from the tree module in sklearn package
model = DecisionTreeClassifier()

In [25]:
model.fit(X, Y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [26]:
# predict the kind of music a person would like using the age of the person and gender.
#model.predict takes in a multidemnsional array, you can pass in as many input to be predicted as wanted
# NB: 21 = age, 1 = gender
model.predict([ [21,1] ])

array(['HipHop'], dtype=object)

In [27]:
# Another predictions
model.predict([ [22, 0] ])

array(['Dance'], dtype=object)

In [12]:
#I proceeded to determine the accuracy of model
# To achieve this, I split the data into test and training sets

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

# The test size determines the percentage of data to use for training and testing, in this case, I use 80% 
# for training and 20 % for testing

In [29]:
# I can now train using the training set only
model.fit(X_train, Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [30]:
predictions = model.predict(X_test)

In [34]:
# To determine the accuracy we need to compare the output of the test data with the training data
from sklearn.metrics import accuracy_score
score = accuracy_score(Y_test, predictions)

In [35]:
score

0.75

In [38]:
model.predict([ [13, 1] ])

array(['HipHop'], dtype=object)